<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form action="/{{route}}" method="POST" class="sign-in-form">
                    <h2 class="title">{{title}}</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Username" name="username">
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password" name="password" required>
                    </div>
                    <input type="submit" value={{title}} class="btn solid">
                    <h3>{{message}} <a href="/{{reverseRoute}}">{{reverseTitle}}</a></h3>
                </form>
            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Patterns</h3>
                    <p>
                        PATTERNS! Can give you helpful feedback on what behaviors may be helping - or hurting - your
                        progress!
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div id="footer">
        <p>2021 PATTERNS. All Rights Reserved. Created with &#9829; by André | Zach | Zuri| All rights reserved.</p>
    </div>
</body>