<body>
  <nav>
    <div class="logo">
      <h1>Welcome {{user.username}}</h1>
    </div>
    <div class="openMenu"><i class="fa fa-bars"></i></div>
    <ul class="mainMenu">
      <li><a href="/login/destroy">Log out</a></li>
      <div class="closeMenu"><i class="fa fa-times"></i></div>
    </ul>
  </nav>

  <center>
    <script type="text/javascript" src="https://www.brainyquote.com/link/quotebr.js"></script>
  </center>

  <div class="container">
    <div class="row">
      <h1 class="col logo">Patterns</h1>

      <!-- Trigger the modal with a button -->
      <button type="button" class="btn btn-info btn-lg col-2" data-toggle="modal" data-target="#myModal">Add
      </button>
    </div>
    <table class="table table-responsive-sm table align-middle">
      <thead class="thread">
        <tr>
          <th scope="col">Pattern</th>
          <th scope="col">Description</th>
          <th scope="col">{{yesterday6}}</th>
          <th scope="col">{{yesterday5}}</th>
          <th scope="col">{{yesterday4}}</th>
          <th scope="col">{{yesterday3}}</th>
          <th scope="col">{{yesterday2}}</th>
          <th scope="col">{{yesterday}}</th>
          <th scope="col">Today</th>
        </tr>
      </thead>
      <tbody>
        {{#each patterns}}
        <tr>
          <td>{{name}}</td>
          <td id="{{id}}" class="hoverDescription" data-toggle="modal" data-target="#descriptionModal"> {{description}}
          </td>
          <td class="dateColumn {{#if dateObject.yesterday6}}checked{{else}}unchecked
                {{/if}}">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" disabled {{#if dateObject.yesterday6}}checked
                {{/if}}>
              <label class="form-check-label" for="flexCheckChecked">
              </label>
          </td>
          <td class="dateColumn {{#if dateObject.yesterday5}}checked{{else}}unchecked
                {{/if}}">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" disabled {{#if dateObject.yesterday5}}checked
                {{/if}}>
              <label class="form-check-label" for="flexCheckChecked">
              </label>
          </td>
          <td class="dateColumn {{#if dateObject.yesterday4}}checked{{else}}unchecked
                {{/if}}">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" disabled {{#if dateObject.yesterday4}}checked
                {{/if}}>
              <label class="form-check-label" for="flexCheckChecked">
              </label>
          </td>
          <td class="dateColumn {{#if dateObject.yesterday3}}checked{{else}}unchecked
                {{/if}}">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" disabled {{#if dateObject.yesterday3}}checked
                {{/if}}>
              <label class="form-check-label" for="flexCheckChecked">
              </label>
          </td>
          <td class="dateColumn {{#if dateObject.yesterday2}}checked{{else}}unchecked
                {{/if}}">
            <div class="form-check ">
              <input class="form-check-input checked" type="checkbox" value="" disabled {{#if
                dateObject.yesterday2}}checked{{/if}}>
              <label class="form-check-label" for="flexCheckChecked">
              </label>
          </td>
          <td class="dateColumn {{#if dateObject.yesterday}}checked{{else}}unchecked
                {{/if}}">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" disabled {{#if dateObject.yesterday}}checked
                {{/if}}>
              <label class="form-check-label" for="flexCheckChecked">
              </label>
          </td>
          <td class="dateColumn todayColumn {{#if dateObject.today}}checked{{else}}unchecked
                {{/if}}">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="{{id}}" {{#if dateObject.today}}checked
                {{/if}}>
              <label class="form-check-label" for="flexCheckChecked">
              </label>
          </td>
          {{/each}}
        </tr>
      </tbody>
    </table>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add new pattern!</h5>
          </div>
          <div class="modal-body">
            <form action="/patterns" method="POST">
              <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input type="text" class="form-control" id="name" aria-describedby="name" name="name"
                  placeholder="name">
                <small id="emailHelp" class="form-text text-muted">A pattern you'll complete every day</small>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Description</label>
                <textarea class="form-control" id="description" rows="3" name="description"
                  aria-describedby="description" placeholder="description"></textarea>
                <small id="description" class="form-text text-muted">Describe the pattern, what will make this pattern
                  complete?</small>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Exit</button>
                <button type="submit" class="btn btn-secondary">Create</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script>
      const $checkboxes = $("input[type='checkbox']")
      console.log($checkboxes)
      $checkboxes.change(function () {
        let patternid = this.id
        if (this.checked) {
          $(this).parents("td").removeClass('unchecked').addClass('checked')
          $.post("/pattern/score", {
            id: patternid
          }).done(function (data) {
            console.log("done", data)
          })
        } else {
          let patternid = this.id
          $(this).parents("td").removeClass('checked').addClass('unchecked')
          $.post("/pattern/score/delete", {
            id: patternid
          }).done(function (data) {
            console.log("done", data)
          })
        }
      })
    </script>
</body>